@require '~Config/style/variables.styl'

  .topBar
    position absolute
    display flex
    flex-flow: column nowrap
    align-items: center
    top: 0
    width: 100%
    z-index: 1
    text-align: center
    .children
      padding: size-xxs
      