import React from 'react';
import { connect } from 'react-redux';

function {{componentName}}({ className }) {
  return <div className={className}>

  </div>
}

export default connect(null, null)({{componentName}});