import React from 'react';
import PropTypes from 'prop-types';
import { connect } from 'unistore/react';
import { actions } from 'Services/store';

function {{componentName}}({ }) {
  return <div>

  </div>;
}

export default connect(null, actions)({{componentName}});

{{componentName}}.propTypes = {
  
};