import React from 'react';
import PropTypes from 'prop-types';
import cn from 'classnames';
import style from './style.styl';

export default function {{componentName}}({ className }) {
  return <div className={className}>

  </div>;
}

{{componentName}}.propTypes = {
  className: PropTypes.string
};