// Fonts
font = 'Open Sans', sans-serif
font-xxxl = 48px
font-xxl = 24px
font-xl = 18px
font-x = 14px
font-xs = 12px
font-xxs = 10px

// Colors
color-main = #FFF
color-accent = #0093ff
color-dark = #2F363F
color-text = #474747
color-background = #eceef0
color-shadow = #000

// Semantic-colors
color-bad = #FF0000
color-moderate = #FFA928
color-alert = #FFE500
color-good = #2DAD00

// Sizes
size-xxl = 64px
size-xl = 32px
size-x = 24px
size-xs = 16px
size-xxs = 8px

// Radius
rad-xl = 10px
rad-x = 8px
rad-xs = 3px

// Media breakpoints
media-x = 650px
media-xs = 450px

shadow-higlight = 0 0 0 4px rgba(color-accent, 0.2), 0 0 2px 1px rgba(color-accent, 0.3)
