// Fonts
font-xxxl = 48px
font-xxl = 24px
font-xl = 18px
font-x = 16px
font-xs = 14px
font-xxs = 12px

// Colors
color-main = #FFF
color-second = #0068FF
color-dark = #2F363F
color-text = #252525

color-bad = #FF0000
color-moderate = #FFA928
color-alert = #FFE500
color-good = #2DAD00

// Sizes
size-xxl = 64px
size-xl = 32px
size-x = 24px
size-xs = 16px
size-xxs = 8px

// Radius
rad-xl = 10px
rad-x = 8px
rad-xs = 3px

// Media breakpoints
media-x = 650px
media-xs = 450px